<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resultados</title>
  <style>
    table {
      width: 100%;
      text-align: center;
    }

    table, th, td {
      border: 1px solid black;
    }
  </style>
</head>
<body>
<table>
  <tr>
    <th>Nombre</th>
    <th>ISO 2</th>
    <th>ISO 3</th>
  </tr>
  <tr>
    <td>{{country.name}}</td>
    <td>{{country.alpha2_code}}</td>
    <td>{{country.alpha3_code}}</td>
  </tr>
</table>
</body>
</html>